@model IEnumerable<Dapper.Core.Models.Character>

@{
    ViewData["Title"] = "Personagens";
}

<h4 "">Listagem de Personagens</h4>

<p>
    <a asp-action="Create" class="btn btn-outline-success btn-sm">Novo Personagem</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vocacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vocacao)
            </td>
            <td>
                <a asp-controller="Char" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Atualizar</a>&emsp;
                <a asp-controller="Char" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Excluir</a>&emsp;
            </td>
        </tr>
}
    </tbody>
</table>
